<div class="container mt-4">
  <h3>Listado de Asistentes</h3>

  <table class="table table-striped mt-3">
    <thead class="table-dark">
    <tr>
      <th>Identificación</th>
      <th>Nombre Completo</th>
      <th>Edad</th>
      <th>Género</th>
      <th>Barrio</th>
      <th>Responsable</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    @for (asistente of asistentes; track $index) {
    <tr>
      <td>{{ asistente.identificacion }}</td>
      <td>{{ asistente.nombreCompleto }}</td>
      <td>{{ asistente.edad }}</td>
      <td>{{ asistente.genero }}</td>
      <td>{{ asistente.barrio }}</td>
      <td>{{ asistente.identificacionResponsable }}</td>
      <td>{{ asistente.estadoAsistente }}</td>
    </tr>
    } @empty {
    <tr>
      <td colspan="7" class="text-center">No hay asistentes registrados.</td>
    </tr>
    }
    </tbody>
  </table>
</div>
